<!--
Autor: Raul Ortega Acuña
Archivo: products-demo.component.html
Solución: Proyecto_Final_Progra_6
Proyecto: Proyecto_Final_Progra_6.client
Ruta: Proyecto_Final_Progra_6/Proyecto_Final_Progra_6.client/src/app/components/controls/products-demo.component.html

Descripción:
Widget visual para mostrar productos/libros en el dashboard. Permite buscar, visualizar y agregar productos al carrito.
-->

<div class="row control-box">
  <div class="col-lg-8">
    <div class="search-box">
      <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'productsDemo.management.Search' | translate}}" />
    </div>
  </div>
</div>

<ngx-datatable class="material colored-header sm table-hover"
               [loadingIndicator]="loading"
               [rows]="rows"
               [columns]="columns"
               [rowHeight]="35"
               [headerHeight]="37"
               [footerHeight]="35"
               [columnMode]="'force'">
  <ngx-datatable-column name="{{'productsDemo.table.Name' | translate}}" prop="name" [sortable]="true">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{'productsDemo.table.Description' | translate}}" prop="description" [sortable]="true">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{'productsDemo.table.Price' | translate}}" prop="sellingPrice" [sortable]="true">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value | currency}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{'productsDemo.table.Stock' | translate}}" prop="unitsInStock" [sortable]="true">
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <span [ngClass]="{'text-danger': row.unitsInStock < 1}">{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-sm btn-primary" [disabled]="row.unitsInStock < 1" (click)="addToCart(row)">
        <i class="fa fa-cart-plus"></i> {{'productsDemo.table.AddToCart' | translate}}
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<div *ngIf="!loading && rows.length === 0" class="text-center text-muted mt-2">
  {{'productsDemo.table.NoProducts' | translate}}
</div>
<div *ngIf="loading" class="text-center mt-2">
  <i class="fa fa-spinner fa-spin"></i> {{'productsDemo.table.Loading' | translate}}
</div>
